.my-img{
    width: 50%;
    border-radius: 10px;
    margin-top: 50px;
}
.barak-btn-cont{
    background-color: rgba(129, 129, 128, 0.205);
    border-radius: 10px;
    margin: 10px;
}

.barak-btn-cont p{
    font-weight: 700;
    font-size: 15px;
    color: gray;
}

.barak-btn-cont button{
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 5px;   
}
.barak-btn-cont button:hover{
    background-color: rgb(255, 181, 22);
}

.personel-dls{
    background-color: rgba(129, 129, 128, 0.205);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 10px;
}

.dls-item p{
    margin: 0;
    padding: 5px;
    font-weight: 700;
}
.dls-item span{
    color: gray;
    font-size: 15px;
}
.title{
    color: gray;
    font-size: 15px;
    font-weight: 700;
}

.completed-btn{
    background-color: rgb(253 216 50);
    width: 80%;
    font-weight: 600;
    color: rgb(73, 73, 73);
    border: none;
    border-radius: 8px;
}
.completed-btn:hover{
    background-color: rgb(255, 181, 22);
}